{% extends 'main.html' %}

{% block title %} - Dashboard {% endblock %}

{% block content %}
<section class="dashboard-wrapper">

	{% include 'partials/_nav-side.html' %}

	<div class="dashboard">

		<div class="box align-center">
			{% if not_concluded %}
				<h2>{{not_concluded}}</h2>
				<p class="mg-bt">{{not_concluded.description}}</p>
	
				<form method="POST">
					{% csrf_token %}
	
					<input class="hide-input" type="text" name="title" value="{{not_concluded.title}}">
					<input class="hide-input" type="text" name="description" value="{{not_concluded.description}}">
					<input class="hide-input" type="text" name="conclusion_time" value="{{not_concluded.conclusion_time}}">
					<input type="submit" value="Concluir" class="button">
				</form>
	
			{% else %}
				<h2>Nenhum pulse ativo</h2>
			{% endif %}
		</div>
		
		<div class="box span">
			<div class="line-between">
				<h3>{{user.username}}</h3>
				<p>xp total: {{user_level}}</p>
			</div>
	
			<div class="line">
				<h3>{{concluded}}</h3>
				<p>Pulses concluídos</p>
			</div>
	
			<div class="dash-but">
				<a href="{% url 'ranking' %}" class="button-ghost mg-bt">Ranking</a>
				<a href="{% url 'add_pulse' %}" class="button">Adicionar pulse</a>
			</div>
		</div>
	
		<div class="box">
			<h3 class="mg-bt">últimos pulses</h3>
			{% for pulse in three_pulses %}
			<div class="line-between">
				<h3 class="">{{pulse.conclusion_time}}xp</h3>
				<p>{{pulse}}</p>
			</div>
			{% endfor %}
		</div>
	
	</div>
</section>
{% endblock %}