{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="bg">
	<section class="hero">
	
		<!-- {% include 'partials/_nav.html' %} -->
	
		<div class="hero-text">
			<div>
				<h3>Torne suas tarefas divertidas</h3>
				<h1>Rythm, gamifique suas tarefas</h1>
				<p>Com o Rythm, você pode transformar suas tarefas em um jogo, ganhar xp ao completar tarefas diárias e ser o primeiro no ranking mundial.</p>
				<div>
					<a href="{% url 'create_user' %}" class="button"><h3>Criar conta</h3></a>
					<a href="{% url 'login' %}" class="button-ghost"><h3>Entrar</h3></a>
				</div>
			</div>
			<div>
				<img src="{% static 'hero-img.svg' %}" alt="">
			</div>
		</div>
	
	</section>
</div>
{% endblock %}