* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--light: #f9f9f9;
	--bolder: #e95d5e;
	--bold: #edc154;
	--secondary: #A4A4A4;

	--gap-lg: 4rem;
	--gap-md: 3rem;
	--gap-sm: 1rem;

	--bg: #272B34;
	--bg-darker: #1A1C20;
}

body {
	background-color: var(--bg-darker);
	color: var(--light);
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 1200px;
	margin:  0 auto;
}
section {
	padding: 2rem 2rem;
}

h1 {
	font-size: 70px;
	font-weight: 900;
	line-height: 80px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 20px;
}
h1, h2, h3 {
	text-transform: uppercase;
}
p, a {
	font-size: 16px;
	line-height: 29px;
}
a {
	color: inherit;
}
img {
	max-width: 100%;
}

/* DEFAULT */
.line > * {
	display: inline-block;
}
.line-between {
	display: flex;
	justify-content: space-between;
}
.box {
	padding: 2rem;

	border-radius: 20px;
	background-color: var(--bg);
	/* box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.20); */
}
.align-center {
	text-align: center;
}
.mg-bt {
	margin-bottom: var(--gap-sm);
}
.mx-w {
	max-width: 500px;
	margin: 0 auto;
}

/* NAV */
header {
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 1rem;

	display: flex;
	justify-content: space-between;
}
header a {
	text-decoration: none;
}
nav img {
	margin-left: 25px;
	height: 25px;
}

nav.side {
	max-height: 100vh;
	padding: 15px;
	position: sticky;

	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 15px;
	background-color: var(--bg);
}

/* FORM */
form {
	max-width: 300px;
	margin: auto;
	margin-top: 60px;
}
input {
	width: 100%;
	padding: 10px;
	font-size: 16px;

	background-color: var(--bg-darker);
	color: var(--light);
	border-radius: 15px;
}
label {
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 5px;
}
.but-mt {
	margin-top: 140px;
}

/* MESAGES */
.messages {
	max-width: 500px;
	margin: 0 auto;
}
.messages > * {
	margin: 10px 0;

	padding: 10px;
	border-radius: 15px;
}
.error {
	background-color: var(--bolder);
}
.success {
	background-color: var(--bold);
}
ul, li {
	list-style-type: none;
}

/* HERO */
.bg {
	/* background: linear-gradient(130.02deg, var(--bolder) 0.66%, var(--bold) 83.32%); */
	background-image: linear-gradient( 358.4deg,  var(--bold) -2.1%, var(--bolder) 90% );

}
.hero {
	margin: 0 auto;
	max-width: 1200px;
	min-height: 100vh;

	color: var(--light);
}
.hero-text {
	min-height: 87vh;

	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	gap: var(--gap-lg);
}
.hero-text .button, .hero-text .button-ghost {
	margin: var(--gap-sm) var(--gap-sm) var(--gap-sm) 0;
}
.hero h1 {
	margin-top: var(--gap-sm);
	margin-bottom: var(--gap-md);
}

/* INPUT */
.input {
	color: var(--light) !important;
}
.hide-input {
	display: none;
}

/* BUTTONS */
a.button, a.button-ghost {
	margin: 10px;
	display: inline-block;
	text-decoration: none;
}
button {
	cursor: hover;
	font-family: inherit;
	color: inherit;
}
.button, .button-ghost {
	padding: 8px 35px;

	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}
.button {
	box-shadow: 0px 4px 7px 5px rgba(235, 51, 73, 0.1);
	border-radius: 15px;
	background-color: var(--bolder);
}
.button-ghost {
	box-shadow: 0px 4px 7px 5px rgba(235, 51, 73, 0.1);
	border-radius: 15px;
	border: 2px solid var(--bolder);
	background-color: transparent;
}

/* DASHBORAD */
.dashboard-wrapper, .ranking {
	display: grid;
	gap: var(--gap-md);
	grid-template-columns: 1fr 20fr;
}
.dashboard {
	min-height: 90vh;
	
	display: grid;
	gap: var(--gap-lg);
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3fr 1fr;
}
.dashboard .box.span {
	grid-row: span 2;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.dashboard .box.span .line-between:first-of-type {
	align-self: stretch;
}
.last_xp {
	margin-right: var(--gap-md);
}
.dash-but {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* RANKING */
.ranking-wrapper > div{
	margin-bottom: var(--gap-sm);

	display: flex;
	justify-content: space-between;

	align-content: center;
}

/* MEDIA */
@media (max-width: 900px) {
	h1 {
		font-size: 56px;
	}
	h2 {
		font-size: 33px;
	}
	.hero-text {
		margin-top: var(--gap-md);
		grid-template-columns: 1fr;
	}
}

@media (max-width: 400px) {
	section {
		padding: 2rem 1rem;
	}
}